*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body { 
    background-color: snow;
    margin:0;
    color:#333
}

h1 {
    margin:3%;
    text-align: center;
    color: #333;
}
h2{
    margin:2%;
    text-align: center;
    color: #333;
}
h3{
    margin: 1%;
    color: #333;
    margin-left: 10%;
}
p {
    margin-left:10%;
    margin-right:10%;
    color:#333;
}
p,pre {
    font-family:"Times New Roman";
}
/* top navigation bar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: snow;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
ul.topnav li a:hover:not(.active){
    background-color: #111;
}
  
ul.topnav li a.active {background-color:#7e7e7e;}
  
ul.topnav li.right {float: right;}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

header {
    background-color: #333;
    padding: 30px;
    text-align:left;
    font-size: 35px;
    color:snow;
}

nav{
    float: left;
    width:20%;
    background-color: #7e7e7e;
    padding: 20px;
    height: 100%;
    position: fixed;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

article {
    margin-left: 20%;
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
}

section::after{
    content: "";
    display: table;
    clear:both;
}

footer{
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: snow;
}

/* ------ link ------*/
a:link {
    color: #8f8fad;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #595966;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #595966;
    background-color: transparent;
    text-decoration: underline;
  }
/* ------ link end ------ */